# NYU Urology Registry - Surgical History Kidney

# REMEMBER TO SAVE IN H DRIVE

## Importing modules

In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.set_option('display.max_colwidth', None)

## Importing data

### Connecting to DBMS

In [18]:
import pyodbc

connection_string = '''Driver=Cloudera ODBC Driver for Impala;Host=cdhprod.nyumc.org;Port=21050;AuthMech=1;KrbRealm=NYUMC.ORG;Krb FQDN=cdhprod.nyumc.org;KrbServiceName=impala;SSL=1;UseOnlySSPI=0;UseNativeQuery=0;UseKeytab=0;UseSystemTrustStore=1;''' 
connection = pyodbc.connect(connection_string, autocommit=True)

### Converting SQL to dataframe

GFR for patients undergoing nephrectomy

In [4]:
# query01 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, lr.component_name, lr.reference_unit, lr.numeric_value, lr.raw_value, lr.result_time FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.lab_result AS lr ON p.pat_id = lr.pat_id AND lr.component_name LIKE '%GFR%' WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [5]:
# %%time
# df_query01 = pd.read_sql(query01, connection)
# connection.close()

Wall time: 7.78 s

A1c for patients undergoing nephrectomy. Pulling all 'hemoglobin' and can sort to get HbA1c.

In [3]:
# query02 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, lr.component_name, lr.reference_unit, lr.numeric_value, lr.raw_value, lr.result_time FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.lab_result AS lr ON p.pat_id = lr.pat_id AND LOWER(lr.component_name) LIKE '%hemoglobin%' WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [4]:
# %%time
# df_query02 = pd.read_sql(query02, connection)
# connection.close()

Wall time: 15.6 s

Path report entries to confirm type of procedure for patients undergoing nephrectomy

In [ ]:
# query03 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, pr.external_name, pr.value, pr.pat_enc_csn_id FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.pathology_report AS pr ON p.pat_id = pr.pat_id AND (LOWER(pr.external_name) LIKE '%disclaimer%' OR LOWER(pr.external_name) LIKE '%gross description%' OR LOWER(pr.external_name) LIKE '%clinical history%' WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [3]:
# query03 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, pr.external_name, pr.value, pr.pat_enc_csn_id FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.pathology_report AS pr ON p.pat_id = pr.pat_id AND (LOWER(pr.external_name) LIKE '%disclaimer%' OR LOWER(pr.external_name) LIKE '%gross description%' OR LOWER(pr.external_name) LIKE '%clinical history%') WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [4]:
# %%time
# df_query03 = pd.read_sql(query03, connection)
# connection.close()

Wall time: 2.2 s

BMI on patients undergoing nephrectomy

In [18]:
# query04 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, ao.name, ao.observation_value, ao.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.ambulatory_observation AS ao ON p.pat_id = ao.pat_id AND ao.name LIKE '%BMI%' WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [19]:
# %%time
# df_query04 = pd.read_sql(query04, connection)
# connection.close()

Wall time: 8.37 s

Systolic blood pressure on patients undergoing nephrectomy

In [22]:
# query05 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, ao.name, ao.observation_value, ao.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.ambulatory_observation AS ao ON p.pat_id = ao.pat_id AND ao.name LIKE '%BP_SYSTOLIC%' WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [23]:
# %%time
# df_query05 = pd.read_sql(query05, connection)
# connection.close()

Wall time: 3.87 s

Diastolic blood pressure on patients undergoing nephrectomy

In [26]:
# query06 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, ao.name, ao.observation_value, ao.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.ambulatory_observation AS ao ON p.pat_id = ao.pat_id AND ao.name LIKE '%BP_DIASTOLIC%' WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [27]:
# %%time
# df_query06 = pd.read_sql(query06, connection)
# connection.close()

Wall time: 3.18 s

Social history of patients undergoing nephrectomy

In [7]:
# query07 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, soh.tobacco_use, soh.smokeless_tobacco_use, soh.iv_drug_use, soh.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.social_history AS soh ON p.pat_id = soh.pat_id"

In [ ]:
# %%time
# df_query07 = pd.read_sql(query07, connection)
# connection.close()

Diagnosis of patients undergoing nephrectomy (hypertenion HTN diabetes DM)

In [7]:
query08_new = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, di.dx_name, di.entry_date, di.resolved_date, di.status_comment FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.diagnosis AS di ON p.pat_id = di.pat_id AND (LOWER(di.dx_name) LIKE '%hypertension%' OR LOWER(di.dx_name) LIKE '%htn%' OR LOWER(di.dx_name) LIKE '%dm%' OR LOWER(di.dx_name) LIKE '%diabetes%')WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [8]:
%%time
df_query08_new = pd.read_sql(query08_new, connection)
connection.close()

Wall time: 8.84 s

Tobacco use

In [3]:
#query09_new = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, soh.tobacco_use, soh.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.social_history AS soh ON p.pat_id = soh.pat_id WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [4]:
#%%time
#df_query09_new = pd.read_sql(query09_new, connection)
#connection.close()

Wall time: 9.84 s

Smokeless tobacco use

In [7]:
#query10_new = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, soh.smokeless_tobacco_use, soh.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.social_history AS soh ON p.pat_id = soh.pat_id WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [8]:
#%%time
#df_query10_new = pd.read_sql(query10_new, connection)
#connection.close()

Wall time: 8.5 s

IV drug use

In [11]:
#query11_new = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, soh.iv_drug_use, soh.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.social_history AS soh ON p.pat_id = soh.pat_id WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [12]:
#%%time
#df_query11_new = pd.read_sql(query11_new, connection)
#connection.close()

Wall time: 8.98 s

Diagnostics - extra

In [15]:
#query12_new = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, di.dx_name, di.entry_date, di.status_comment FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.diagnosis AS di ON p.pat_id = di.pat_id AND (LOWER(di.dx_name) LIKE '%dialysis%' OR LOWER(di.dx_name) LIKE '%esrd%') WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [16]:
#%%time
#df_query12_new = pd.read_sql(query12_new, connection)
#connection.close()

Wall time: 8.77 s

In [19]:
#query13_new = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, di.dx_name, di.entry_date, di.status_comment FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.diagnosis AS di ON p.pat_id = di.pat_id AND (LOWER(di.dx_name) LIKE '%renal%') WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [20]:
#%%time
#df_query13_new = pd.read_sql(query13_new, connection)
#connection.close()

Wall time: 13.8 s

Getting pathology report dates

In [21]:
# query14 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, pr.external_name, pr.value, pr.pat_enc_csn_id, e.contact_date FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.pathology_report AS pr ON p.pat_id = pr.pat_id AND (LOWER(pr.external_name) LIKE '%disclaimer%' OR LOWER(pr.external_name) LIKE '%gross description%' OR LOWER(pr.external_name) LIKE '%clinical history%') LEFT JOIN urology_hub.encounter AS e ON pr.pat_enc_csn_id = e.pat_enc_csn_id WHERE LOWER(sh.procedure_name) LIKE '%nephrec%';"

In [22]:
# %%time
# df_query14 = pd.read_sql(query14, connection)
# connection.close()

Wall time: 7.6 s

Get op notes from urology specialty

In [ ]:
query15 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, nt.note_signed_time, nt.note_specialty, nt.note_type, nt.author_type, nt.full_text FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.note AS nt ON p.pat_id = nt.pat_id AND (LOWER(nt.note_specialty) LIKE '%urology%' AND LOWER(nt.note_type) LIKE '%op note%') WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [ ]:
%%time
df_query15 = pd.read_sql(query15, connection)
connection.close()

Get op notes from surgery specialty - just in case

In [ ]:
query16 = "SELECT p.*, sh.surgery_date, sh.proc_id, sh.procedure_name, sh.performed, nt.note_signed_time, nt.note_specialty, nt.note_type, nt.author_type, nt.full_text FROM urology_hub.patient AS p INNER JOIN urology_hub.surgical_history AS sh ON p.pat_id = sh.pat_id LEFT JOIN urology_hub.note AS nt ON p.pat_id = nt.pat_id AND (LOWER(nt.note_specialty) LIKE '%surgery%' AND LOWER(nt.note_type) LIKE '%op note%') WHERE LOWER(sh.procedure_name) LIKE '%nephrec%'"

In [ ]:
%%time
df_query16 = pd.read_sql(query16, connection)
connection.close()

### Saving files

In [6]:
# # Save the DataFrames to Excel
# df_query01.to_excel("df_capstone_query01.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [5]:
# Save the DataFrames to Excel
# df_query02.to_excel("df_capstone_query02.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [5]:
# Save the DataFrames to Excel
# df_query03.to_excel("df_capstone_query03.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [20]:
# # Save the DataFrames to Excel
# df_query04.to_excel("df_capstone_query04.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [24]:
# # Save the DataFrames to Excel
# df_query05.to_excel("df_capstone_query05.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [28]:
# # Save the DataFrames to Excel
# df_query06.to_excel("df_capstone_query06.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [ ]:
# Save the DataFrames to Excel
# df_query07.to_excel("df_capstone_query07.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

In [ ]:
# Save the DataFrames to Excel
df_query08_new.to_excel("df_capstone_query08_new.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
print("DataFrame saved to Excel successfully!")

In [5]:
# Save the DataFrames to Excel
#df_query09_new.to_excel("df_capstone_query09_new.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
#print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [9]:
# Save the DataFrames to Excel
#df_query10_new.to_excel("df_capstone_query10_new.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
#print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [13]:
# Save the DataFrames to Excel
#df_query11_new.to_excel("df_capstone_query11_new.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
#print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [17]:
# Save the DataFrames to Excel
#df_query12_new.to_excel("df_capstone_query12_new.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
#print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [21]:
# Save the DataFrames to Excel
#df_query13_new.to_excel("df_capstone_query13_new.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
#print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [23]:
# Save the DataFrames to Excel
# df_query14.to_excel("df_capstone_query14.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
# print("DataFrame saved to Excel successfully!")

DataFrame saved to Excel successfully!

In [ ]:
# Save the DataFrames to Excel
df_query15.to_excel("df_capstone_query15.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
print("DataFrame saved to Excel successfully!")

In [ ]:
# Save the DataFrames to Excel
df_query16.to_excel("df_capstone_query16.xlsx", index=False)  # Set index=False to avoid saving the DataFrame index as a separate column
print("DataFrame saved to Excel successfully!")